/* Inputs */

form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

h2 {
	margin-top: .75em;
	font-size: 2.25em;
	font-weight: 100;
	margin-bottom: .5em;
}

.field,
.field .helper,
.field .helper span,
.field label {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.field {
	margin: .5em .5em .5em 0;
	min-width: 12em;
	/*width: 100%;*/
	flex-flow: column;
	flex-direction: column;
	align-items: stretch;
}

.field.row {
	flex-flow: row;
	flex-direction: row;
	width: auto;
	margin: 0;
}

.field.row .field {
	margin: 0;
}

.field input[type=text],
.field input[type=number],
.field input[type=tel],
.field .helper span {
	min-height: 24px;
}

.field input[type=text]:focus,
.field input[type=number]:focus,
.field input[type=tel]:focus,
.field .helper input:focus + span {
	border-bottom: solid 2px #bdbdbd;
}

/* reset */
.field input {
	background: none;
	border: none;
}

.field input[type=text],
.field input[type=number],
.field input[type=tel] {
	border-bottom: solid 1px #bdbdbd;
	font-size: .875em;
	width: 100%;
}

.field input.small {
	width: 128px;
}

.field input.font-large {
	font-size: 1.125em;
}

.field .helper span {
	border-bottom: solid 1px #bdbdbd;
	font-size: .75em;
	padding: 0 6px 1px;
	align-items: flex-end;
}

.field label,
.field-label {
	font-size: .75em;
	flex-flow: column;
	flex-direction: column;
	justify-content: space-around;
	padding: 1px 0 0 1px;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.field label.default-case,
.field-label.default-case {
	text-transform: none;
}

.field-label {
	margin-top: 8px;
}

.field.row .field label,
.field input[type=radio] + label,
.field input[type=checkbox] + label {
	font-size: .875em;
	text-transform: none;
}