/* Align Items */

.flex.align-baseline {
	align-items: baseline;
}

.flex.align-center {
	align-items: center;
}

.flex.align-end {
	align-items: flex-end;
}

.flex.align-start {
	align-items: flex-start;
}

.flex.align-stretch {
	align-items: stretch;
}

/* Content Items */

.flex.content-baseline {
	align-content: baseline;
}

.flex.content-center {
	align-content: center;
}

.flex.content-end {
	align-content: flex-end;
}

.flex.content-start {
	align-content: flex-start;
}

.flex.content-stretch {
	align-content: stretch;
}

/* Justify Content */

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

/* Flex Grow */

.flex-1 {
	flex: 1
}

.flex-2 {
	flex: 2
}

.flex-3 {
	flex: 3
}

.flex-4 {
	flex: 4
}

.flex-5 {
	flex: 5
}

.flex-6 {
	flex: 6
}

.flex-7 {
	flex: 7
}

.flex-8 {
	flex: 8
}

.flex-9 {
	flex: 9
}

.flex-10 {
	flex: 10
}

.flex-11 {
	flex: 11
}

.flex-12 {
	flex: 12
}

.flex-13 {
	flex: 13
}

.flex-14 {
	flex: 14
}

.flex-15 {
	flex: 15
}

.flex-16 {
	flex: 16
}

.flex-17 {
	flex: 17
}

.flex-18 {
	flex: 18
}

.flex-19 {
	flex: 19
}

.flex-20 {
	flex: 20
}