html,
body {
    height: auto;
    overflow: visible;
}

#main {
    border: solid 2px #bdbdbd;
    padding: 1em 0 2.25em;
    margin: 4.5em auto;
}

#main section {
    border-bottom: dashed 1px #eeeeee;
    padding: 0 2.25em 2.25em;
}