html,
body {
    height: auto;
    overflow: visible;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#main {
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    padding: 1em 1em 2.25em;
    margin: 4.5em auto;
}